jocks-karaoke.com, www.jocks-karaoke.com {
  @api path /api*
  handle @api {
    uri strip_prefix /api
    reverse_proxy backend:9090
  }
  handle {
    reverse_proxy frontend:3000
  }
}

portainer.jocks-karaoke.com {
  reverse_proxy portainer:9000
}