@import "src/scss/variables";

.table-container {
  display: grid;
  grid-template-columns: auto auto auto;
  word-break: break-word;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid red;
  padding: 4px;
  margin: auto;

  .table-cell {
    color: white;
    justify-self: stretch;
    border: $white-border-style;
    padding: 4px;
    text-align: start;
  }
}

.bold {
  font-weight: bold;
}