@import "src/scss/variables";

#high-score-table {
  tr {

    th, td {
      padding: 0.5rem;
    }

    th {
      border-bottom: 1px solid red;
    }

    &:nth-child(even) {
      background-color: #EAEAEA;
    }
  }

  .score-column {
    width: 20%;
    text-align: center;
  }

  .name-column {
    width: 80%;
    text-align: left;
  }
}