@import "scss/variables";

body {
  background-color: $rangers-blue;
}

input, button {
  font-family: Roboto, sans-serif;
  word-break: break-word;
}

#nav {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  border-bottom: $white-border-style;
  background-color: $rangers-blue;

  @media screen and (min-width: 769px) {
    border-left: $white-border-style;
    border-right: $white-border-style;
    margin: 0 2rem;
  }

  .search-field-container {
    display: flex;
    flex-grow: 1;
    padding: 1rem;

    .search-field {
      display: flex;
      border-bottom: $white-border-style;
      transition: 0.5s;
      width: 100%;

      &:focus-within {
        border-bottom: 1px solid red;
      }

      input {
        flex-grow: 1;
        min-width: 0;
        padding: 0.5rem;
        background-color: transparent;
        border: none;
        color: white;
        font-size: 16px;
        caret-color: white;

        &:focus {
          outline: none;
        }

        &::placeholder {
          color: white;
          opacity: 1;
        }
      }

      svg {
        fill: white;
        height: 1rem;
        width: 1rem;
        align-self: center;
      }
    }
  }
}

.app-container {
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
}

.content-container {
  padding: 0 0.5rem;
  text-align: center;

  @media screen and (min-width: 768px) {
    padding: 0 2rem;
  }

  button {
    position: sticky;
    position: -webkit-sticky;
    right: 0;
    top: 0;
  }
}

.logo-container {
  display: flex;
  justify-content: center;
  margin: 2rem 0;

  .logo {
    height: 30vmin;
    pointer-events: none;
    justify-self: end;
  }

}

.table-container {
  width: 100%;
  box-sizing: border-box;
  border: 1px solid red;
  padding: 4px;
  margin: auto;
}

