spring:
  datasource:
    url: jdbc:mysql://localhost:3306/jocks-karaoke
    username: root
    password: ${MYSQL_ROOT_PASSWORD}
  jpa:
    hibernate:
      naming:
        physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl

logging:
  level:
    org:
      springframework:
        web:
          filter:
            CommonsRequestLoggingFilter: DEBUG

server:
  port: 9090
